body {
	background-color: white;
	margin-top: 230px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: grey;
}



img {
	width: 80%;
	height: 80%;
	border-radius: 50% 20% / 10% 40%;
	box-shadow: 5px 10px;
	padding: 10px; 
	margin: 10px; 
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.menu .currentLink {
	text-decoration: underline !important;
	background-color: black !important; 
	}

.menu a:link, .menu a:visited { 
    background-color: grey;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50% 20% / 10% 40%;
}


:target {
	background-color: black; 
}

.menu a:hover, a:active {
    background-color: black;
}
.menu a:li {
	display: none;
}

.menu a: #inlinelink {

    text-decoration: none;
}
.menu a: #inlinelink:hover {
    background-color: black;
    text-decoration: none;
}

.header h1 {
	font-family: 'Playfair Display SC', serif;
    font-size: 100px;
  	position: fixed;
    top: 0;
    z-index: 2; 
    text-align: center;
    width: 500px;
    height: 200px;
    left: 33%;
    right: 20%;
    top: -50px;
    color: grey;
}


.banner {
	position: fixed;
	top: -18px;
	left: 10px;
	right: 10px;
    width: 1300px; 
    height: 150px; 
    z-index: 1;
}

#submit {
	background-color: grey;
	color: white;
	padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 50% 20% / 10% 40%;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
}

#submit:hover, #submit:active {
    background-color: black;
}

.contactcontainer {
	text-align: center;
    border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 10px;
    padding:20px;
   width: 200px;
   margin: auto;
    
}

/*@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media (max-width: 600px) {
	p, h1, h2, h3, body {
		font-size: 1.25rem; 
		orientation: portrait;
	} */
/*}*/

.aboutpics, .indexpics {
	display: flex; 
	flex-wrap: wrap;
}


.photo-grid-container {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;
}

.photo-grid-item {
  width: 500px;
  margin: 10px;
  flex-direction: row;
}





















