body {
	background-color: white;
	margin-top: 230px;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	color: grey;
}



.header h1 {
  font-family: 'Playfair Display SC', serif;
  font-size: 100px;
  position: fixed;
  z-index: 2;
  text-align: center;
  width: 100%;
  height: 200px;
  /*left: auto;
  right: auto;*/
  top: -70px;
  color: grey;
  
}


.header .banner {
  position: fixed;
  top: -15px;
  left: 1%;
  width: 97%; 
  height: 150px; 
  z-index: 1;
  box-shadow: 5px 10px; 
  border-radius: 50% 20% / 10% 40%;
}

.menu .currentLink {
	text-decoration: underline !important;
	background-color: black !important; 
}

.menu a:link, .menu a:visited { 
  background-color: grey;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50% 20% / 10% 40%;
}


:target {
	background-color: black; 
}

.menu a:hover, a:active {
  background-color: black;
}
.menu a:li {
	display: none;
}

.menu a: #inlinelink {

  text-decoration: none;
}
.menu a: #inlinelink:hover {
  background-color: black;
  text-decoration: none;
}

#submit {
	background-color: grey;
	color: white;
	padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50% 20% / 10% 40%;
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

#submit:hover, #submit:active {
  background-color: black;
}

.content {
  overflow: hidden;
}

.contactcontainer {
	text-align: center;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  border-radius: 10px;
  padding:20px;
  width: 200px;
  margin: auto;

}

@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

@media screen and (max-width: 768px) {
	 p, .menu h2, h3, ol, ul, li, body, .contactcontainer {
		font-size: 1.25rem; 
		width: 100%;

	} 
}

@media screen and (max-width: 768px) {
    .photo-grid-container, .photo-grid {
         width: 300px;
    }
}

@media screen and (max-width: 768px) {
    .header h1 {
         font-size: 50px;
         margin-top: 100px;
    }
}


.photo-grid-container {
  display: flex;
  justify-content: end;
  margin: 10px;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;

}

.photo-grid {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px;


}

.photo-grid-container img {
  width: 80%;
  height: 80%;
  border-radius: 50% 20% / 10% 40%;
  /*box-shadow: 5px 10px;*/
  padding: 10px; 
  margin: 10px; 
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: contain;
  filter: drop-shadow(0 -5px 0 gray)
  drop-shadow(0 5px 0 gray)
  drop-shadow(-5px 0 0 gray)
  drop-shadow(5px 0 0 gray);

}
.photo-grid-item {
  width: 500px;
  margin: 10px;
  flex-direction: row;


}

label, input {
  margin: 5px;
}


@media screen and (max-width: 768px) {
  .contactcontainer {
       font-size: 1.25rem; 
    }
}














